</div>
<div class="footer">
	<div class="nav">
		<a href="" value="pin" class="selected"><img src="/img/1.png" style="height: 100%;"></a>
		<a href="" value="route"><img src="/img/2.png" style="height: 100%;"></a>
		<a href="" value="contribute"><img src="/img/3.png" style="height: 100%;"></a>
		<a href="" value="setting"><img src="/img/4.png" style="height: 100%;"></a>
	</div>
</div>
</body>

</html>