</div>
<div class="footer">
	<div class="nav">
		<a href="" value="pin" class="selected"><i class="fas fa-map-marker-alt"></i></a>
		<a href="" value="route"><i class="fas fa-route"></i></a>
		<a href="" value="contribute"><i class="fas fa-hand-holding-usd"></i></a>
		<a href="" value="setting"><i class="fas fa-ellipsis-h"></i></a>
	</div>
</div>
</body>

</html>