<%- include('header') %>
	<div id="map"></div>
	<script src="/js/map.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgHwWGwqIawj5-bWarlfQU-mN7qPFrntw&libraries=places&callback=initMap">
	</script>
<%- include('footer') %>